---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outside the Box</title>
  </head>
  <body>
    <input class="sr-only" type="checkbox" id="opener" />
    <label for="opener"></label>
    <div class="scene">
      <div class="rotater stepper">
        <div class="box stepper">
          <div class="cuboid">
            <div class="cuboid__side one"></div>
            <div class="cuboid__side two"></div>
            <div class="think stepper">
              <div class="think__component think__component--slide stepper">
                <div class="think__component think__component--drop stepper">
                  <div
                    class="think__component think__component--rotate stepper"
                  >
                    think.
                  </div>
                </div>
              </div>
            </div>
            <div class="cuboid__side three"></div>
            <div class="cuboid__side four"></div>
            <div class="cuboid__side five stepper"></div>
            <div class="cuboid__side six"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
