---
import "./_style.css"
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entry-exit-dialog</title>
  </head>
  <body>
    <button class="open">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M11.828 2.25c-.916 0-1.699.663-1.85 1.567l-.091.549a.798.798 0 0 1-.517.608 7.45 7.45 0 0 0-.478.198.798.798 0 0 1-.796-.064l-.453-.324a1.875 1.875 0 0 0-2.416.2l-.243.243a1.875 1.875 0 0 0-.2 2.416l.324.453a.798.798 0 0 1 .064.796 7.448 7.448 0 0 0-.198.478.798.798 0 0 1-.608.517l-.55.092a1.875 1.875 0 0 0-1.566 1.849v.344c0 .916.663 1.699 1.567 1.85l.549.091c.281.047.508.25.608.517.06.162.127.321.198.478a.798.798 0 0 1-.064.796l-.324.453a1.875 1.875 0 0 0 .2 2.416l.243.243c.648.648 1.67.733 2.416.2l.453-.324a.798.798 0 0 1 .796-.064c.157.071.316.137.478.198.267.1.47.327.517.608l.092.55c.15.903.932 1.566 1.849 1.566h.344c.916 0 1.699-.663 1.85-1.567l.091-.549a.798.798 0 0 1 .517-.608 7.52 7.52 0 0 0 .478-.198.798.798 0 0 1 .796.064l.453.324a1.875 1.875 0 0 0 2.416-.2l.243-.243c.648-.648.733-1.67.2-2.416l-.324-.453a.798.798 0 0 1-.064-.796c.071-.157.137-.316.198-.478.1-.267.327-.47.608-.517l.55-.091a1.875 1.875 0 0 0 1.566-1.85v-.344c0-.916-.663-1.699-1.567-1.85l-.549-.091a.798.798 0 0 1-.608-.517 7.507 7.507 0 0 0-.198-.478.798.798 0 0 1 .064-.796l.324-.453a1.875 1.875 0 0 0-.2-2.416l-.243-.243a1.875 1.875 0 0 0-2.416-.2l-.453.324a.798.798 0 0 1-.796.064 7.462 7.462 0 0 0-.478-.198.798.798 0 0 1-.517-.608l-.091-.55a1.875 1.875 0 0 0-1.85-1.566h-.344ZM12 15.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5Z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Open settings</span>
    </button>
    <h1>dialog transitions on entry and exit.</h1>
    <dialog>
      <header>
        <div class="details">
          <img
            src="https://avatars.githubusercontent.com/u/842246"
            width="48"
            alt="Avatar"
          />
          <span>jh3yy</span>
          <a
            href="mailto:config@jhey.dev"
            target="_blank"
            rel="noreferrer noopener">config@jhey.dev</a
          >
        </div>
        <a
          class="links"
          href="https://jhey.dev/links"
          rel="noopener noreferrer"
          target="_blank"
        >
          Links
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
          </svg>
        </a>
        <a
          class="sponsor button invert"
          href="https://github.com/sponsors/jh3y"
          rel="noreferrer noopener"
          target="_blank"
          >Sponsor
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
          </svg>
        </a>
        <a
          class="follow button"
          href="https://twitter.com/intent/follow?screen_name=jh3yy"
          rel="noreferrer noopener"
          target="_blank"
        >
          Follow
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
          </svg>
        </a>
      </header>
      <hr />
      <form>
        <label for="scheme">Color scheme</label>
        <select autofocus name="scheme" id="scheme">
          <option value="system">System</option>
          <option value="light" selected>Light</option>
          <option value="dark">Dark</option>
        </select>
        <label for="backdrop">Backdrop</label>
        <label for="backdrop" class="switch">
          <input
            name="backdrop"
            class="sr-only"
            type="checkbox"
            role="switch"
            id="backdrop"
            checked
          />
        </label>
        <label for="duration">Duration(s)</label>
        <input
          name="duration"
          type="range"
          id="duration"
          min="0.1"
          max="2"
          step="0.1"
          value="0.3"
        />
        <label for="translate">Translate(lh)</label>
        <input
          name="translate"
          type="range"
          id="translate"
          min="0"
          max="20"
          step="1"
          value="12"
        />
        <label for="scale">Scale</label>
        <input
          name="scale"
          type="range"
          id="scale"
          min="0"
          max="1"
          step="0.01"
          value="0.95"
        />
        <label for="blur">Blur(px)</label>
        <input
          name="blur"
          type="range"
          id="blur"
          min="0"
          max="40"
          step="1"
          value="10"
        />
        <hr />
        <footer>
          <button>Cancel</button>
          <button>Save</button>
        </footer>
      </form>
    </dialog>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
