---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gradients-suck</title>
  </head>
  <body>
    <main>
      <h1>
        this gradient sucks.
      </h1>
      <article>
        <img src="/images/watchy.png" alt="" />
        <p>The watch.</p>
      </article>
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
