---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>apple-disclosures</title>
  </head>
  <body>
    <section>
      <button arial-hidden="true" tabindex="-1" data-action="next">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>        
      </button>
      <button arial-hidden="true" tabindex="-1" data-action="previous">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>        
      </button>
      <button arial-hidden="true" tabindex="-1" data-action="exit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>        
      </button>
      <div class="column">
        <details name=feature>
          <summary>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span>Cool.</span>
          </summary>
          <div class="content">  
            <p>a new full aluminum body for stylesheets. so many styles, so much time. many many tricks on this path.</p>
          </div>
        </details>
        <details name=feature>
          <summary>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span>Cool New Feature.</span>
          </summary>
          <div class="content">  
            <p>a new full aluminum body for stylesheets.</p>
          </div>
        </details>
        <details name=feature>
          <summary>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
            <span>Cool.</span>
          </summary>
          <div class="content">  
            <p>a new full aluminum body for stylesheets. so many styles, so much time. many many tricks on this path.</p>
          </div>
        </details>
        <details name=feature>
          <summary>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
          <span>Cool New Feature.</span>
        </summary>
        <div class="content">  
          <p>a new full aluminum body for stylesheets.</p>
        </div>
      </details>
      <details name=feature>
        <summary>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
          <span>Cool New Feature.</span>
        </summary>
        <div class="content">  
          <p>a new full aluminum body for stylesheets.</p>
        </div>
      </details>
    </div>
    <div class="column">
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/h.png" alt="" />
        </div>
      </div>
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/af.png" alt="" />
        </div>
      </div>
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/h.png" alt="" />
        </div>
      </div>
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/aj.png" alt="" />
        </div>
      </div>
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/h.png" alt="" />
        </div>
      </div>
      <div class="img-block">
        <div class="img-wrapper">
          <img src="/images/d.png" alt="" />
        </div>
      </div>
    </div>
  </section>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
