---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>you-can-scroll</title>
  </head>
  <body>
    <header>
      <h1 class="fluid">you can<br />scroll.</h1>
    </header>
    <main>
      <section class="content fluid">
        <h2><span aria-hidden="true">you can&nbsp;</span>
          <span class="sr-only">you can ship things.</span>
        </h2>
        <ul aria-hidden="true" style="--count: 22">
          <li style="--i: 0">design.</li>
          <li style="--i: 1">prototype.</li>
          <li style="--i: 2">solve.</li>
          <li style="--i: 3">build.</li>
          <li style="--i: 4">develop.</li>
          <li style="--i: 5">debug.</li>
          <li style="--i: 6">learn.</li>
          <li style="--i: 7">cook.</li>
          <li style="--i: 8">ship.</li>
          <li style="--i: 9">prompt.</li>
          <li style="--i: 10">collaborate.</li>
          <li style="--i: 11">create.</li>
          <li style="--i: 12">inspire.</li>
          <li style="--i: 13">follow.</li>
          <li style="--i: 14">innovate.</li>
          <li style="--i: 15">test.</li>
          <li style="--i: 16">optimize.</li>
          <li style="--i: 17">teach.</li>
          <li style="--i: 18">visualize.</li>
          <li style="--i: 19">transform.</li>
          <li style="--i: 20">scale.</li>
          <li style="--i: 21">do it.</li>
        </ul>
      </section>
      <section>
        <h2 class="fluid">fin.</h2>
      </section>
    </main>
    <footer>ʕ⊙ᴥ⊙ʔ jh3yy &copy; 2024</footer>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
