---
import "./_style.css"
import LinearGrid from "./_linear-grid.jsx"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>linear-grid</title>
  </head>
  <body>
    <LinearGrid client:only="react" />
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
