---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scroll-parallax</title>
  </head>
  <body>
    <!-- ul>li*50>img[src="https://picsum.photos/900/1200?random=$"] -->
    <ul>
      <li><img src="/images/stock/900x1200/image-1.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-2.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-3.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-4.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-5.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-6.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-7.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-8.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-9.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-10.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-11.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-12.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-13.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-14.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-15.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-16.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-17.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-18.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-19.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-20.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-21.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-22.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-23.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-24.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-25.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-26.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-27.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-28.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-29.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-30.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-31.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-32.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-33.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-34.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-35.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-36.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-37.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-38.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-39.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-40.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-41.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-42.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-43.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-44.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-45.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-46.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-47.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-48.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-49.png" alt="" /></li>
      <li><img src="/images/stock/900x1200/image-50.png" alt="" /></li>
    </ul>
    <h1>scroll.</h1>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
