---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view-timeline-basic</title>
  </head>
  <body>
    <img src="/images/figma-crowd.jpg" alt="" />
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
