---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>breaking-typopgraphy</title>
  </head>
  <body>
    <main></main>
    <sub>Math courtesy of <a href="https://utopia.fyi/blog/css-modular-scales">"CSS-only fluid modular type scales" | Utopia.fyi</a></sub>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
