---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scroll-driven-carousel</title>
  </head>
  <body>
    <main></main>
    <h1>scroll.</h1>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
