---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>apple-slider</title>
  </head>
  <body>
    <div class="slideshow">
      <draggable-scroll>
        <ul data-dragging="false">
          <li>
            <article>
              <img src="https://fastly.picsum.photos/id/1001/1920/1080.jpg?hmac=U5kL68d5u8hn0ooTTEsdsCB95YPMmQIKcTsjjGXC4sI
              " alt="" />
              <div class="slide-content">
                <div class="slide-text">
                  <p>Timeless bags and modular kits designed for life in motion</p>
                  <div class="actions">
                    <a href="#">Shop Luggage</a>
                    <a href="#">Shop Bags</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <img src="
              https://fastly.picsum.photos/id/189/1920/1080.jpg?hmac=RTk3E0thYgkCzdr4sdskbeWlYsVaL984aXa7knSaWgQ" alt="" />
              <div class="slide-content">
                <div class="slide-text">
                  <h3>New Arrivals</h3>
                  <p>Introducing our latest products, made especially for the season</p>
                  <div class="actions">
                    <a href="#">Shop Now</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <img src="https://fastly.picsum.photos/id/320/1920/1080.jpg?hmac=nGM2iarjjHZ_LVTthcK6kXXGY5LHNbUss54ESsgLpqM
              " alt="" />
              <div class="slide-content">
                <div class="slide-text">
                  <h3>scroll-snap</h3>
                  <p>Leaning into the platform progressively</p>
                  <div class="actions">
                    <a href="#">Embrace</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <img src="https://fastly.picsum.photos/id/124/1920/1080.jpg?hmac=rA_CKG2S_5xR9t2BrxOMX-1blz3MKuvaDZA_TDcT-gI" alt="" />
              <div class="slide-content">
                <div class="slide-text">
                  <h3>scroll-snap</h3>
                  <p>Leaning into the platform progressively</p>
                  <div class="actions">
                    <a href="#">Embrace</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </draggable-scroll>
      <button aria-label="Previous slide"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
      </button>
      <button aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
      </button>
    </div>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
