---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scroll-micro-header</title>
  </head>
  <body>
    <header>
      <img src="/images/config-header.jpg" alt="" class="backdrop" />
    </header>
    <div class="intro">
      <img src="/images/headshot.jpg" alt="" class="avatar" />
      <div class="title-wrapper">
        <div class="title">
          <h1>Jhey ʕ •ᴥ•ʔ</h1>
          <a
            href="https://twitter.com/jh3yy"
            rel="noreferrer noopener"
            target="_blank">@jh3yy</a
          >
        </div>
      </div>
    </div>
    <main>
      <ul>
        <li class="skeleton">
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
        </li>
        <li class="skeleton">
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
        </li>
        <li class="skeleton">
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
        </li>
        <li class="skeleton">
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
        </li>
        <li class="skeleton">
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
          <div class="skeleton__block"></div>
        </li>
      </ul>
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
