---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gradient Borders</title>
  </head>
  <body>
    <section>
      <article class="faux"></article>
      <article class="card">
        <p>gradient borders using transparent borders...</p>
      </article>
      <label>Content</label>
      <label>Background One</label>
      <label>Background Two</label>
    </section>
  </body>
</html>
<script>
  import "./_script.js";
</script>
