---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>magnetic-links</title>
  </head>
  <body>
    <button aria-pressed="false" class="direction-handler">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50">
        <rect
          width="32"
          height="32"
          x="25"
          y="2.38"
          stroke="currentColor"
          stroke-width="2"
          rx="3"
          transform="rotate(45 25 2.38)"
        />
        <path
          fill="currentColor"
          d="M14 29.2v-8.4h11.11V14L36 25 25.11 36v-6.8H14Z"
        />
      </svg>
      <span class="sr-only">Change orientation</span>
    </button>
    <nav data-magnetic>
      <ul>
        <li>
          <a style="view-transition-name: one" href="#home" id="home">Home</a>
        </li>
        <li>
          <a style="view-transition-name: two" href="#craft" id="craft"
            >Craft</a
          >
        </li>
        <li>
          <a style="view-transition-name: three" href="#posts" id="posts"
            >Posts</a
          >
        </li>
        <li>
          <a style="view-transition-name: four" href="#snippets" id="snippets"
            >Snippets</a
          >
        </li>
        <li>
          <a
            style="view-transition-name: five"
            href="https://craftofui.substack.com/subscribe"
            target="_blank"
            rel="noopener noreferrer"
            id="subscribe"
            >Subscribe</a
          >
        </li>
      </ul>
    </nav>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
