---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fluid-typography</title>
  </head>
  <body>
    <!-- forked from https://codepen.io/jh3y/pen/KKLNLxW -->
    <div class="levels">
      <dl>
        <dt>
          <pre>
            <code><span class="code">{".heading {"}</span><span>--font-level: </span><span class="level">6</span><span class="code">{" }"}</span></code>
          </pre>
        </dt>
        <dd>Cool.</dd>
      </dl>
    </div>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
