---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>balance-sliders</title>
  </head>
  <body>
    <main>
      <img src="/images/stock/skateboarder.jpg" alt="" />
      <div class="container">
        <div class="slider-wrap">
          <div class="slider__track track">
            <div class="track__progress"></div>
          </div>
          <div class="slider slider--brightness">
            <label for="brightness" class="sr-only">Brightness</label>
            <input id="brightness" type="range" min="0" max="100" value="86" />
            <div class="slider__indicator">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <mask id="cut-out">
                    <rect width="100%" height="100%" fill="white"></rect>
                    <path
                      d="M7.5 12C7.5 10.8065 7.97411 9.66193 8.81802 8.81802C9.66193 7.97411 10.8065 7.5 12 7.5C13.1935 7.5 14.3381 7.97411 15.182 8.81802C16.0259 9.66193 16.5 10.8065 16.5 12C16.5 13.1935 16.0259 14.3381 15.182 15.182C14.3381 16.0259 13.1935 16.5 12 16.5C10.8065 16.5 9.66193 16.0259 8.81802 15.182C7.97411 14.3381 7.5 13.1935 7.5 12Z"
                      fill="black"></path>
                  </mask>
                </defs>
                <path
                  d="M12 2.25C12.1989 2.25 12.3897 2.32902 12.5303 2.46967C12.671 2.61032 12.75 2.80109 12.75 3V5.25C12.75 5.44891 12.671 5.63968 12.5303 5.78033C12.3897 5.92098 12.1989 6 12 6C11.8011 6 11.6103 5.92098 11.4697 5.78033C11.329 5.63968 11.25 5.44891 11.25 5.25V3C11.25 2.80109 11.329 2.61032 11.4697 2.46967C11.6103 2.32902 11.8011 2.25 12 2.25ZM18.894 6.166C19.0265 6.02382 19.0986 5.83578 19.0952 5.64148C19.0917 5.44718 19.013 5.26179 18.8756 5.12438C18.7382 4.98697 18.5528 4.90825 18.3585 4.90483C18.1642 4.9014 17.9762 4.97352 17.834 5.106L16.243 6.696C16.1713 6.76515 16.1142 6.84788 16.0748 6.93937C16.0355 7.03085 16.0147 7.12926 16.0138 7.22884C16.0129 7.32842 16.0318 7.42719 16.0695 7.51938C16.1072 7.61157 16.1628 7.69534 16.2332 7.76579C16.3036 7.83624 16.3873 7.89197 16.4795 7.92972C16.5716 7.96748 16.6704 7.9865 16.7699 7.98568C16.8695 7.98486 16.968 7.96422 17.0595 7.92496C17.151 7.8857 17.2338 7.8286 17.303 7.757L18.894 6.166ZM21.75 12C21.75 12.1989 21.671 12.3897 21.5303 12.5303C21.3897 12.671 21.1989 12.75 21 12.75H18.75C18.5511 12.75 18.3603 12.671 18.2197 12.5303C18.079 12.3897 18 12.1989 18 12C18 11.8011 18.079 11.6103 18.2197 11.4697C18.3603 11.329 18.5511 11.25 18.75 11.25H21C21.1989 11.25 21.3897 11.329 21.5303 11.4697C21.671 11.6103 21.75 11.8011 21.75 12ZM17.834 18.894C17.9762 19.0265 18.1642 19.0986 18.3585 19.0952C18.5528 19.0917 18.7382 19.013 18.8756 18.8756C19.013 18.7382 19.0917 18.5528 19.0952 18.3585C19.0986 18.1642 19.0265 17.9762 18.894 17.834L17.304 16.243C17.2348 16.1713 17.1521 16.1142 17.0606 16.0748C16.9691 16.0355 16.8707 16.0147 16.7712 16.0138C16.6716 16.0129 16.5728 16.0318 16.4806 16.0695C16.3884 16.1072 16.3047 16.1628 16.2342 16.2332C16.1638 16.3036 16.108 16.3873 16.0703 16.4795C16.0325 16.5716 16.0135 16.6704 16.0143 16.7699C16.0151 16.8695 16.0358 16.968 16.075 17.0595C16.1143 17.151 16.1714 17.2338 16.243 17.303L17.834 18.894ZM12 18C12.1989 18 12.3897 18.079 12.5303 18.2197C12.671 18.3603 12.75 18.5511 12.75 18.75V21C12.75 21.1989 12.671 21.3897 12.5303 21.5303C12.3897 21.671 12.1989 21.75 12 21.75C11.8011 21.75 11.6103 21.671 11.4697 21.5303C11.329 21.3897 11.25 21.1989 11.25 21V18.75C11.25 18.5511 11.329 18.3603 11.4697 18.2197C11.6103 18.079 11.8011 18 12 18ZM7.758 17.303C7.89455 17.1615 7.97006 16.972 7.96826 16.7753C7.96646 16.5787 7.88749 16.3906 7.74837 16.2516C7.60925 16.1126 7.4211 16.0339 7.22445 16.0322C7.0278 16.0306 6.83839 16.1063 6.697 16.243L5.106 17.833C4.96931 17.9744 4.89363 18.1638 4.89524 18.3605C4.89686 18.5571 4.97565 18.7452 5.11464 18.8844C5.25363 19.0235 5.4417 19.1025 5.63835 19.1043C5.835 19.1061 6.02448 19.0306 6.166 18.894L7.757 17.304L7.758 17.303ZM6 12C6 12.1989 5.92098 12.3897 5.78033 12.5303C5.63968 12.671 5.44891 12.75 5.25 12.75H3C2.80109 12.75 2.61032 12.671 2.46967 12.5303C2.32902 12.3897 2.25 12.1989 2.25 12C2.25 11.8011 2.32902 11.6103 2.46967 11.4697C2.61032 11.329 2.80109 11.25 3 11.25H5.25C5.44891 11.25 5.63968 11.329 5.78033 11.4697C5.92098 11.6103 6 11.8011 6 12ZM6.697 7.757C6.83917 7.88948 7.02722 7.9616 7.22152 7.95818C7.41582 7.95475 7.60121 7.87603 7.73862 7.73862C7.87603 7.60121 7.95475 7.41582 7.95818 7.22152C7.9616 7.02722 7.88948 6.83917 7.757 6.697L6.167 5.106C6.02561 4.96931 5.8362 4.89363 5.63955 4.89524C5.4429 4.89686 5.25475 4.97565 5.11563 5.11464C4.97651 5.25363 4.89754 5.4417 4.89574 5.63835C4.89394 5.835 4.96945 6.02448 5.106 6.166L6.697 7.757Z"
                  fill="currentColor"></path>
                <path
                  mask="url(#cut-out)"
                  d="M7.5 12C7.5 10.8065 7.97411 9.66193 8.81802 8.81802C9.66193 7.97411 10.8065 7.5 12 7.5C13.1935 7.5 14.3381 7.97411 15.182 8.81802C16.0259 9.66193 16.5 10.8065 16.5 12C16.5 13.1935 16.0259 14.3381 15.182 15.182C14.3381 16.0259 13.1935 16.5 12 16.5C10.8065 16.5 9.66193 16.0259 8.81802 15.182C7.97411 14.3381 7.5 13.1935 7.5 12Z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
