---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>text-rings</title>
  </head>
  <body>
    <section>
      <h1 class="ring"></h1>
    </section>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
