---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scroll-state-cta</title>
  </head>
  <body>
    <a
      class="bear-link"
      href="https://twitter.com/intent/follow?screen_name=jh3yy"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg
        class="w-9"
        viewBox="0 0 969 955"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="161.191"
          cy="320.191"
          r="133.191"
          stroke="currentColor"
          stroke-width="20"
        ></circle>
        <circle
          cx="806.809"
          cy="320.191"
          r="133.191"
          stroke="currentColor"
          stroke-width="20"
        ></circle>
        <circle
          cx="695.019"
          cy="587.733"
          r="31.4016"
          fill="currentColor"
        ></circle>
        <circle
          cx="272.981"
          cy="587.733"
          r="31.4016"
          fill="currentColor"
        ></circle>
        <path
          d="M564.388 712.083C564.388 743.994 526.035 779.911 483.372 779.911C440.709 779.911 402.356 743.994 402.356 712.083C402.356 680.173 440.709 664.353 483.372 664.353C526.035 664.353 564.388 680.173 564.388 712.083Z"
          fill="currentColor"
        ></path>
        <rect
          x="310.42"
          y="448.31"
          width="343.468"
          height="51.4986"
          fill="#FF1E1E"
        ></rect>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M745.643 288.24C815.368 344.185 854.539 432.623 854.539 511.741H614.938V454.652C614.938 433.113 597.477 415.652 575.938 415.652H388.37C366.831 415.652 349.37 433.113 349.37 454.652V511.741L110.949 511.741C110.949 432.623 150.12 344.185 219.845 288.24C289.57 232.295 384.138 200.865 482.744 200.865C581.35 200.865 675.918 232.295 745.643 288.24Z"
          fill="currentColor"
        ></path>
      </svg>
    </a>
    <div class="wrap">
      <header>
        <h1><span>The</span><span>Craft of UI</span></h1>
        <p>
          Gain the confidence to build anything you envision. Go beyond the
          documentation. Become it.
        </p>
      </header>
      <nav>
        <div class="nav__intersector"></div>
        <div class="nav__content">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              fill="currentColor"
            >
              <path
                d="M480-120 80-600l120-240h560l120 240-400 480Zm-95-520h190l-60-120h-70l-60 120Zm55 347v-267H218l222 267Zm80 0 222-267H520v267Zm144-347h106l-60-120H604l60 120Zm-474 0h106l60-120H250l-60 120Z"
              />
            </svg>
          </a>
          <!-- Put a logo, then three links, the CTA with a chevron: Products, Pricing, Log In -->
          <ul class="content">
            <li>
              <a href="#product"><span>Course</span></a>
            </li>
            <li>
              <a href="#price"><span>Pricing</span></a>
            </li>
            <li>
              <a href="#follow"><span>Prepare</span></a>
            </li>
          </ul>
          <button class="cook">
            <span>Subscribe</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </button>
        </div>
      </nav>

      <main>
        <section id="product">
          <h2>Course</h2>
          <p>
            An anthology of recipes to create all types of UI patterns with
            modern CSS and JavaScript. The Craft of UI levels you up with
            practical and novel takes on using web APIs old and new. Pick up
            tips and tricks whilst learning how to tie them together and spot
            opportunities. Become the documentation!
          </p>
        </section>
        <section id="price">
          <h2>Price</h2>
          <p>
            Pricing things is hard. The newsletter is free but offers extras to
            paid subscribers. The course? To be defined. The goal is "Accessible
            for all" with purchasing power parity. And it's one price. Future
            updates and modules are free.
          </p>
        </section>
        <section id="follow">
          <p>Sharpen your pickaxe today.</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            fill="currentColor"
          >
            <path
              d="M480-120 80-600l120-240h560l120 240-400 480Zm-95-520h190l-60-120h-70l-60 120Zm55 347v-267H218l222 267Zm80 0 222-267H520v267Zm144-347h106l-60-120H604l60 120Zm-474 0h106l60-120H250l-60 120Z"
            />
          </svg>
          <!-- <a
            class="follow-link"
            href="https://twitter.com/intent/follow?screen_name=jh3yy"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              fill="currentColor"
            >
              <path
                d="M480-120 80-600l120-240h560l120 240-400 480Zm-95-520h190l-60-120h-70l-60 120Zm55 347v-267H218l222 267Zm80 0 222-267H520v267Zm144-347h106l-60-120H604l60 120Zm-474 0h106l60-120H250l-60 120Z"
              />
            </svg>
            <span>Subscribe now</span>
          </a> -->
        </section>
      </main>
    </div>
    <footer>
      <svg viewBox="0 0 322 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M44.3271 100.282C34.4284 100.282 26.1937 98.3197 19.6231 94.3943C13.0524 90.469 8.14573 85.0076 4.90306 78.0103C1.6604 70.9276 0.0390625 62.6503 0.0390625 53.1783C0.0390625 43.9623 1.70306 35.8556 5.03106 28.8583C8.35906 21.7756 13.3084 16.2716 19.8791 12.3463C26.4497 8.33565 34.5564 6.33031 44.1991 6.33031C50.7697 6.33031 56.1884 7.01298 60.4551 8.37832C64.8071 9.65832 68.0497 11.4076 70.1831 13.6263C72.3164 15.845 73.3831 18.3623 73.3831 21.1783C73.3831 24.3356 72.0177 26.981 69.2871 29.1143C66.5564 31.2477 62.5884 32.3143 57.3831 32.3143C57.3831 29.4983 56.9564 26.725 56.1031 23.9943C55.2497 21.2636 53.7991 19.0023 51.7511 17.2103C49.7031 15.4183 46.8871 14.5223 43.3031 14.5223C37.9271 14.5223 33.6177 16.0583 30.3751 19.1303C27.2177 22.117 24.9564 26.469 23.5911 32.1863C22.2257 37.9037 21.5431 44.901 21.5431 53.1783C21.5431 61.3703 22.3537 68.197 23.9751 73.6583C25.6817 79.1197 28.4124 83.2157 32.1671 85.9463C36.0071 88.677 41.0844 90.0423 47.3991 90.0423C51.5804 90.0423 55.1644 89.445 58.1511 88.2503C61.1377 86.9703 63.6551 85.3917 65.7031 83.5143C67.8364 81.637 69.6284 79.7596 71.0791 77.8823C71.7617 78.3943 72.2737 79.1623 72.6151 80.1863C73.0417 81.2103 73.2551 82.277 73.2551 83.3863C73.2551 85.1783 72.7431 87.0557 71.7191 89.0183C70.7804 90.981 69.2017 92.8156 66.9831 94.5223C64.7644 96.229 61.7777 97.637 58.0231 98.7463C54.3537 99.7703 49.7884 100.282 44.3271 100.282Z"
          fill="currentColor"
        />
        <path
          d="M81.0591 99.0023V92.2183H81.4431C83.4057 92.2183 85.1124 92.005 86.5631 91.5783C88.0137 91.1516 89.1657 90.2983 90.0191 89.0183C90.8724 87.653 91.2991 85.6477 91.2991 83.0023V45.8823C91.2991 43.3223 90.9151 41.445 90.1471 40.2503C89.3791 38.9703 88.3124 38.1596 86.9471 37.8183C85.5817 37.3917 83.9604 37.1783 82.0831 37.1783H81.6991V30.3943H107.555L110.115 40.3783H110.755C111.864 37.8183 113.144 35.685 114.595 33.9783C116.046 32.2717 117.88 30.9917 120.099 30.1383C122.403 29.285 125.304 28.8583 128.803 28.8583C133.838 28.8583 137.55 29.7543 139.939 31.5463C142.328 33.3383 143.523 35.8983 143.523 39.2263C143.523 43.1516 142.072 46.2236 139.171 48.4423C136.355 50.5757 132.387 51.6423 127.267 51.6423C127.267 49.253 127.054 47.2903 126.627 45.7543C126.286 44.2183 125.646 43.0663 124.707 42.2983C123.854 41.445 122.616 41.0183 120.995 41.0183C118.776 41.0183 116.984 41.7863 115.619 43.3223C114.254 44.8583 113.23 46.7783 112.547 49.0823C111.864 51.301 111.395 53.5623 111.139 55.8663C110.883 58.1703 110.755 60.0477 110.755 61.4983V83.6423C110.755 86.117 111.139 87.9943 111.907 89.2743C112.675 90.469 113.742 91.2797 115.107 91.7063C116.472 92.0477 118.008 92.2183 119.715 92.2183H123.811V99.0023H81.0591Z"
          fill="currentColor"
        />
        <path
          d="M168.855 100.282C165.1 100.282 161.687 99.557 158.615 98.1063C155.628 96.5703 153.239 94.2663 151.447 91.1943C149.655 88.037 148.759 84.1117 148.759 79.4183C148.759 72.5063 151.148 67.3863 155.927 64.0583C160.706 60.7303 167.874 58.8957 177.431 58.5543L187.927 58.1703V51.1303C187.927 48.229 187.756 45.7116 187.415 43.5783C187.074 41.3596 186.348 39.653 185.239 38.4583C184.13 37.1783 182.38 36.5383 179.991 36.5383C177.858 36.5383 176.151 37.1356 174.871 38.3303C173.591 39.525 172.695 41.189 172.183 43.3223C171.671 45.3703 171.415 47.717 171.415 50.3623C165.698 50.3623 161.388 49.7223 158.487 48.4423C155.586 47.1623 154.135 44.9436 154.135 41.7863C154.135 38.629 155.33 36.1116 157.719 34.2343C160.108 32.357 163.308 30.9917 167.319 30.1383C171.33 29.1996 175.724 28.7303 180.503 28.7303C189.463 28.7303 196.162 30.3516 200.599 33.5943C205.122 36.837 207.383 42.469 207.383 50.4903V83.1303C207.383 85.4343 207.596 87.269 208.023 88.6343C208.535 89.9143 209.346 90.853 210.455 91.4503C211.65 91.9623 213.186 92.2183 215.063 92.2183H215.575V99.0023H191.767L189.079 90.1703H187.927C186.05 92.4743 184.258 94.3943 182.551 95.9303C180.93 97.381 179.052 98.4477 176.919 99.1303C174.786 99.8983 172.098 100.282 168.855 100.282ZM175.895 90.9383C178.37 90.9383 180.503 90.2983 182.295 89.0183C184.087 87.653 185.452 85.733 186.391 83.2583C187.415 80.7836 187.927 77.8823 187.927 74.5543V64.9543L182.167 65.3383C178.754 65.509 176.066 66.1917 174.103 67.3863C172.14 68.4957 170.732 70.117 169.879 72.2503C169.026 74.2983 168.599 76.8583 168.599 79.9303C168.599 82.3197 168.855 84.3677 169.367 86.0743C169.879 87.6957 170.69 88.933 171.799 89.7863C172.908 90.5543 174.274 90.9383 175.895 90.9383Z"
          fill="currentColor"
        />
        <path
          d="M222.056 99.0023V92.2183H224.872C226.152 92.2183 227.475 92.0477 228.84 91.7063C230.291 91.2797 231.485 90.469 232.424 89.2743C233.448 88.0797 233.96 86.2876 233.96 83.8983V39.0983H222.568V30.3943H233.96V25.6583C233.96 17.7223 236.051 11.5783 240.232 7.22632C244.413 2.78898 251.027 0.570312 260.072 0.570312C265.619 0.570312 269.928 0.996979 273 1.85031C276.072 2.61831 278.248 3.72765 279.528 5.17831C280.808 6.54365 281.448 8.12232 281.448 9.91431C281.448 11.7916 280.851 13.3703 279.656 14.6503C278.547 15.845 276.797 16.741 274.408 17.3383C272.104 17.9356 269.203 18.2343 265.704 18.2343C265.704 16.869 265.491 15.3757 265.064 13.7543C264.637 12.133 263.955 10.7676 263.016 9.65832C262.163 8.46365 260.925 7.86632 259.304 7.86632C257.171 7.86632 255.635 9.06098 254.696 11.4503C253.843 13.7543 253.416 17.7223 253.416 23.3543V30.3943H271.08V39.0983H253.416V83.8983C253.416 86.2876 253.885 88.0797 254.824 89.2743C255.848 90.469 257.085 91.2797 258.536 91.7063C259.987 92.0477 261.309 92.2183 262.504 92.2183H268.52V99.0023H222.056Z"
          fill="currentColor"
        />
        <path
          d="M302.853 100.282C297.136 100.282 292.57 98.789 289.157 95.8023C285.744 92.8157 284.037 87.5677 284.037 80.0583V39.0983H274.437V32.5703C277.168 32.5703 279.6 32.0156 281.733 30.9063C283.952 29.797 285.701 28.5596 286.981 27.1943C288.261 25.829 289.413 24.1223 290.437 22.0743C291.461 19.941 292.272 17.4236 292.869 14.5223H303.493V30.3943H319.877V39.0983H303.493V78.7783C303.493 82.6183 304.133 85.4343 305.413 87.2263C306.778 89.0183 308.954 89.9143 311.941 89.9143C313.648 89.9143 315.226 89.829 316.677 89.6583C318.213 89.4023 319.664 89.1037 321.029 88.7623V97.0823C319.664 97.6797 317.402 98.3623 314.245 99.1303C311.173 99.8983 307.376 100.282 302.853 100.282Z"
          fill="currentColor"
        />
      </svg>

      <span>ʕ⌐■ᴥ■ʔ &copy; jhey 2024</span>
    </footer>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
