---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>playbook-scroll</title>
  </head>
  <body>
    <!-- Newsletter issue on how to build this: https://craftofui.substack.com/p/scrolling-a-page-out-of-the-playbook -->


<div class="content-wrap">
  <header>
    <h1 class="fluid">let's<br />scroll.</h1>
  </header>
  <main>
    <section>
      <div class="content">
        <div class="grid">
          <div class="layer">
            <div>
              <img
                src="https://images.unsplash.com/photo-1463100099107-aa0980c362e6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGZhc2hpb258ZW58MHx8MHx8fDA%3D"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1556304044-0699e31c6a34?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTJ8fGZhc2hpb258ZW58MHx8MHx8fDA%3D"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1590330297626-d7aff25a0431?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA3fHxmYXNoaW9ufGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1487222477894-8943e31ef7b2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk1fHxmYXNoaW9ufGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1488161628813-04466f872be2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzR8fG1vZGVsJTIwZmFzaGlvbiUyMHN0cmVldHxlbnwwfHwwfHx8MA%3D%3D"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1565321590372-09331b9dd1eb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGFpciUyMGpvcmRhbnxlbnwwfHwwfHx8MA%3D%3D"
                alt=""
              />
            </div>
            <!-- <img src="https://picsum.photos/400/500?random=1" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=2" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=3" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=4" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=5" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=6" alt="" /> -->
          </div>
          <div class="layer">
            <div>
              <img
                src="https://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjM4fHxwcm9kdWN0fGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1637414165749-9b3cd88b8271?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fHRlY2glMjBwcm9kdWN0fGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1699911251220-8e0de3b5ce88?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b25ld2hlZWx8ZW58MHx8MHx8fDA%3D"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1667483629944-6414ad0648c5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGx1eHVyeSUyMHdhdGNofGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://plus.unsplash.com/premium_photo-1706078438060-d76ced26d8d5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGNhbWVyYSUyMHBvbGFyb2lkfGVufDB8fDB8fHww"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1525385444278-b7968e7e28dc?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGl0ZW18ZW58MHx8MHx8fDA%3D"
                alt=""
              />
            </div>
            <!-- <img src="https://picsum.photos/400/500?random=7" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=8" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=9" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=10" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=11" alt="" /> -->
            <!-- <img src="https://picsum.photos/400/500?random=12" alt="" /> -->
          </div>
          <div class="layer">
            <div>
              <img
                src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aXRlbXxlbnwwfHwwfHx8MA%3D%3D"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D"
                alt=""
              />
            </div>
          </div>
          <div class="scaler">
            <img
              src="https://assets.codepen.io/605876/model-shades.jpg?format=auto&quality=100"
              alt=""
            />
<!--                 <img src="./model-shades.jpg" alt="" /> -->
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2 class="fluid">fin.</h2>
    </section>
  </main>
</div>
<footer>
  <span aria-hidden="true"
    >ʕ<span class="arm">ノ</span>•ᴥ•ʔ<span class="arm">ノ</span>
    <span class="spring"><span>︵</span></span>
    <span class="table">┻━┻</span></span
  >&nbsp;&copy; jhey '24
</footer>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
