---
import "./_style.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Stroke</title>
  </head>
  <body>
    <form action="">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          spellcheck="false"
          required
          autocomplete="off"
          placeholder="Email"
        />
      </div>
    </form>
  </body>
</html>
