---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ios-barrel</title>
  </head>
  <body>
    <div class="controls">
      <div class="control control--hours hours"></div>
      <div class="control control--minutes minutes"></div>
      <div class="control control--meridiem meridiem"></div>
    </div>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
