---
import "./_style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>duke-ellington</title>
  </head>
  <body>
    <img class="backdrop" src="/images/checklists.png" alt="" />
    <main>
      <div class="duke-ellington">
        <img src="/images/duke.png" alt="" />
        <img src="/images/duke-design.png" alt="" />
      </div>
      <h1 class="fluid"></h1>
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
